<div class="container">
<div class="centrar">
  <ul>
      <li>
        <div class="border">Equipos de computo</div>
        <ul>
          <li><div class="border"><button><a href="http://www.cecasa.com.mx">Laptops</a></button></div></li>
          <br>
          <li><div class="border"><button><a href="http://www.cecasa.com.mx">Escritorio</a></button></div></li>
        </ul>
      </li>
      <li><div class="border">Otros</div></li>
    </ul>
    <div>
      <table>
        <tr *ngFor="let item of lista">
        <td>{{item}}</td>
        </tr>
      </table>

    </div>




    </div>
</div>
